[submodule "Expense-tracker"]
	path = Expense-tracker
	url = https://github.com/ankushyamkar10/Expense-tracker
	branch = main
[submodule "User-Service"]
	path = User-Service
	url = https://github.com/ankushyamkar10/User-Service
[submodule "Auth-Service"]
	path = Auth-Service
	url = https://github.com/ankushyamkar10/Auth-Service
[submodule "Expense-Service"]
	path = Expense-Service
	url = https://github.com/ankushyamkar10/Expense-Service
